@import "variables.scss";
@import "mixins.scss";

.container {
    .row {
        .col-left-position {
            padding-right: 0;
            .bg-side-img {
                background-image: url('../img/sign-up-step2.png');
                background-repeat: no-repeat;
                background-attachment: scroll;
                background-position: center center;
                min-height: 980px;                
                > img {
                    margin-top: 100px;
                }
                .intro-text-sidebar-left {
                    font-family: Brandon Regular;
                    color: #fff;
                    padding: 35px;
                    padding-top: 10px;
                    > p {
                        font-size: 15px;
                    }
                }
            }
        }
        
        .form-bg, .form-msg-done {
            background: #eeeeee;
            min-height: 980px;
            padding-left: 40px;
            padding-right: 40px;
            .row-title {
                padding-left: 40px;
                padding-top: 10px;
            }
            .sign-up-form-personal, .sign-up-form-company {
                width: 100%;
                position: relative;
                font-family: Brandon Regular;
                display: none;
            }
            .btn-bottom {
                .agreed-check {
                    margin-left: 30px;
                }
                .btn-sign-up-edit {
                    margin-right: 30px;
                }
            }
            
        }
        .form-msg-done {
            display: none;
            padding-top: 100px;
            .personal-msg, .company-msg {
                display: none;
            }
        }
    }
}
.sign-up-step2 {
    padding-top: 10px;
    padding-bottom: 0px;
    display: none;
}

.alert-show {
    position: relative;
    top: 10px;
    // right: 0;
    display: none;
    font-size: 16px;
}