<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GiaoHangOngVang</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="../css/ongvang.min.css" rel="stylesheet">
    <link href="../css/custom.min.css" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll navbar-edit">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll link-logo" href="#page-top">
                    <img class="no-scroll" src="../img/ongVangIcon-no-bg.png" alt=""><br>
                    <img class="yes-scroll" src="../img/ongvang-icon-scroll.png" alt=""><br>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right nav-edit">
                    <li>
                        <a href="../index.html">Trang Chủ</a>
                    </li>
                    <li>
                        <a href="../partials/services.html">Dịch Vụ</a>
                    </li>
                    <li>
                        <a href="../partials/introduction.html">Gới Thiệu</a>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>                    
                    <li>
                        <a href="#">Tuyển Dụng</a>
                    </li>
                    <li>
                        <a href="../partials/contact.html">Liên Hệ</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section class="section-top"></section>
    <section class="section-link">
         <div class="container">
            <div class="row row-link-edit">
               <a href="../index.html">Trang Chủ</a>
               <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
               <a href="../partials/contact.html">Liên Hệ</a>
            </div>
        </div>
    </section>
    <section class="section-top-edit">
        <div class="container">
            <div class="row contact-to">
                <h4>Liên Hệ Với Chúng Tôi</h4>                
            </div>
        </div>
    </section>
    <section class="section-contact">
        <div class="container container-contact">
            <div class="row col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-4 column-left">
                    <div class="msg-text">
                        <h5><b>Gửi lời nhắn cho chúng tôi</b></h5>
                        <p class="text-muted">
                            Hãy cho chúng tôi biết nếu bạn có bất cứ câu hỏi,
                            thắc mắc, hài lòng hoặc không hài lòng với dịch vụ 
                            của GiaoHangOngVang.
                        </p>
                        <div class="form-group">
                            <label for="name">Họ và Tên</label>
                            <input type="text" class="form-control input-sm" id="name" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="email">Địa chỉ E-mail</label>
                            <input type="text" class="form-control input-sm" id="email" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="mobile-number">Số điện thoại</label>
                            <input type="text" class="form-control input-sm" id="mobile-number" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="messages">Lời nhắn</label>
                            <textarea type="text" class="form-control input-sm" id="messages" placeholder="" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 text-left">
                                    <p class="text-muted">Giới hạn 750 ký tự</p>
                                </div>
                                <div class="col-md-6 col-sm-6 text-right">
                                    <a href="#" type="button" class="btn btn-default btn-sm sent-msg">Gửi Lời Nhắn</a>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 column-right-position">
                    <div id="map" class="gg-map"></div>
                    <div class="location-office">
                        <img src="../img/icon-building.png" alt="">
                        <span><b>Văn Phòng Giao Hàng Ong Vàng</b></span>
                    </div>
                    <div>
                        <p class="text-muted">Số 2, ngõ 426/20 Láng, Đống Đa, Hà Nội</p>
                        <p>
                            <span><b>Tel:</b></span><span class="text-muted">091.666.1523</span>
                        </p>
                        <p>
                            <span><b>Website:</b></span><span class="text-muted">GiaohangOngVang.vn</span>
                        </p>
                        <p>
                            <span><b>Email:</b></span><a href="#" class="text-muted">giaohangongvang@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-plus"></section>
    <footer>
        <div class="container">
            <div class="row">
                <img src="../img/ongVangIcon.png" alt=""><br>
                <span class="copyright">Copyright &copy; GiaohangOngVang 2016</span>
                <div class="link-group">
                    <a href="../index.html" class="link-edit">Trang chủ</a><i class="fa fa-circle circle-edit" aria-hidden="true"></i>
                    <a href="../partials/services.html" class="link-edit">Dịch vụ</a><i class="fa fa-circle circle-edit" aria-hidden="true"></i>
                    <a href="../partials/introduction.html" class="link-edit">Giới thiệu</a>
                </div>
                <div lass="link-group">
                    <span>Hotline: <b>091.666.1523</b> -</span>
                    <span>Email: <a href="giaohangongvang@gmail.com"><b>giaohangongvang@gmail.com</b></a></span>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-12">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>-->
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../js/jqBootstrapValidation.js"></script>
    <script src="../js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="../js/ongvang.min.js"></script>

    <!--gg map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV7a8nXYheQCIHfLIlHxH84n5Op9quU74&callback=myMap"></script>

</body>

</html>
