<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GiaoHangOngVang</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="../css/ongvang.min.css" rel="stylesheet">
    <link href="../css/custom.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll navbar-edit">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll link-logo" href="#page-top">
                    <img class="no-scroll" src="../img/ongVangIcon-no-bg.png" alt=""><br>
                    <img class="yes-scroll" src="../img/ongvang-icon-scroll.png" alt=""><br>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right nav-edit">
                    <li>
                        <a href="../index.html">Trang Chủ</a>
                    </li>
                    <li>
                        <a href="../partials/services.html">Dịch Vụ</a>
                    </li>
                    <li>
                        <a href="../partials/introduction.html">Gới Thiệu</a>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>                    
                    <li>
                        <a href="#">Tuyển Dụng</a>
                    </li>
                    <li>
                        <a href="../partials/contact.html">Liên Hệ</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section class="section-top"></section>
    <section class="section-link">
         <div class="container">
            <div class="row row-link-edit">
               <a href="../index.html">Trang Chủ</a>
               <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
               <a href="../partials/introduction.html">Giới Thiệu</a>
            </div>
        </div>
    </section>
    <section id="sign-up" class="section-intro">
        <div class="container">
            <div class="row col-md-12 col-sm-12 row-intro">
                <div class="col-md-8 col-sm-8">
                    <h4 class="heading-title">Giới Thiệu</h4>
                    <hr class="primary">
                    <div class="text-left">
                        <p>
                            GiaoHangOngVang.vn được thành lập bởi nhiệt huyết và khát vọng đổi thay cháy bỏng, cùng với đức 
                            tính chăm chỉ, cần cù của người Việt Nam. Những khao khát, những tố chất ấy được nhân lên gấp bội khi kết 
                            hợp với tri thức những người Việt trẻ lĩnh hội từ khắp các nền giáo dục trên thế giới.
                        </p>
                        <p>
                            Với định hướng rõ ràng, cùng chiến lược trở thành bạn đồng hành của 3 triệu doanh nghiệp cá nhân 
                            đang kinh doanh tại Việt Nam là Kinh Chỉ Nam để GiaoHangOngVang.vn tiến lên phía trước, đương đầu 
                            và vượt qua thử thách.
                        </p>
                        <p>
                            Khó khăn còn rất nhiều ở phía trước nhưng những chú Ong Vàng không bao giờ bỏ cuộc.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="../img/icon_gt_1.png" alt="">
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row col-md-12 col-sm-12 row-intro">
                <div class="col-md-6 col-sm-6">
                    <img src="../img/icon_gt_2.png" alt="">
                </div>
                <div class="col-md-6 col-sm-6 text-right">
                    <h4 class="heading-title">Sứ Mệnh</h4>
                    <hr class="primary hr-edit">
                    <div class="text-right">
                        <p>
                            Chuyên nghiệp để trở thành công nghiệp. GiaohangOngVang.vn khẳng định tiêu chí 
                            thông minh hơn, nhanh hơn, chính xác hơn, chi phí rẻ hơn nhờ đổi mới công nghệ,
                            phương thức vận hành, tư duy sáng tạo và tiềm lực tài chính là yếu tố then chốt 
                            phục vụ cuộc cách mạng công nghiệp cơ bản: Công Nghiệp Vận tải
                        </p>
                    </div>
                    <br>
                    <h4 class="heading-title">Triết Lý Kinh Doanh</h4>
                    <hr class="primary hr-edit">
                    <div class="text-right">
                        <p>
                            Uy tín là giá trị tích lũy Niềm Tin.
                            Niềm Tin của khách hàng chỉ đạt được khi chúng ta phục 
                            vụ bằng trái tim chân thành, đôi tay cần cù và bộ óc sáng suốt.
                        </p>
                    </div>
                </div>                
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row col-md-12 col-sm-12 row-intro">
                <div class="col-md-8 col-sm-8">
                    <h4 class="heading-title">Tầm Nhìn</h4>
                    <hr class="primary">
                    <div class="text-left">
                        <p>
                            <b>4 mục tiêu trọng điểm đến năm 2020 như sau:</b>
                        </p>
                        <br>
                        <p>
                            1. Đạt mục tiêu phát triểu mạng lưới khắp cả nước, tạo công ăn việc làm thường 
                            xuyên cho ít nhất 1000 lao động.
                        </p>
                        <br>
                        <p>
                            2. Là dịch vụ Giao hàng Thân Thiện được tin yêu số 1 tại Việt Nam.
                        </p>
                        <br>
                        <p>
                            3. Là dịch vụ Giao hàng Chuyên Nghiệp với chi phí tối ưu cho các doanh nghiệp nhờ ứng dụng 
                            công nghệ tân tiến và sự đơn giản trong vận hành.
                        </p>
                        <br>
                        <p>
                            4. Là dịch vụ Giao hàng Biết Quan Tâm, lắng nghe tới sức khỏe, lợi ích chính đáng không chỉ 
                            của người lao động, mà còn là gia đình của họ.
                        </p>                    
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="../img/icon_gt_3.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="section-main-value">
        <div class="container">
            <div class="row col-md-12 col-sm-12">
                <div class="col-md-5 col-sm-5 text-center">
                    <img src="../img/tam_nhin.png" alt="">
                </div>
                <div class="col-md-7 col-sm-7 key-value text-justify">
                    <h4><b>Giá Trị Cốt Lõi</b></h4>
                    <p>
                        Nếu nói định hướng rõ ràng, cùng chiến lược trở thành bạn đồng hành của 3 triệu 
                        doanh nghiệp, cá nhân đang kinh doanh tại Việt Nam là Kinh Chỉ Nam thì giá 
                        trị cốt lõi chính là sao Bắc Đẩu giúp những chú Ong Vàng luôn tiến lên phía trước.
                    </p>
                    <p>1. Chữ Đức là đạo: Đức nghĩa là sống thực, làm đúng với thiện tâm của chính mình.</p>
                    <p>2. Sáng tạo: là logic và khác biệt</p>
                    <p>3. Khát vọng đổi thay: Ai cũng có ước mơ và khát vọng, hãy cùng nhau hiện thực nó.</p>
                    <p>4. Tôn trọng sự khách biệt: Tôn trọng bắt nguồn từ sự lắng nghe, chấp nhận sự khác 
                        biệt nhưng không có nghĩa là đồng ý với sự khác biệt.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <img src="../img/ongVangIcon.png" alt=""><br>
                <span class="copyright">Copyright &copy; GiaohangOngVang 2016</span>
                <div class="link-group">
                    <a href="../index.html" class="link-edit">Trang chủ</a><i class="fa fa-circle circle-edit" aria-hidden="true"></i>
                    <a href="../partials/services.html" class="link-edit">Dịch vụ</a><i class="fa fa-circle circle-edit" aria-hidden="true"></i>
                    <a href="../partials/introduction.html" class="link-edit">Giới thiệu</a>
                </div>
                <div lass="link-group">
                    <span>Hotline: <b>091.666.1523</b> -</span>
                    <span>Email: <a href="giaohangongvang@gmail.com"><b>giaohangongvang@gmail.com</b></a></span>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-12">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>-->
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../js/jqBootstrapValidation.js"></script>
    <script src="../js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="../js/ongvang.min.js"></script>

</body>

</html>
