<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GiaoHangOngVang</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendor/bootstrap-vertical-tabs/bootstrap-vertical-tabs.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="../css/ongvang.min.css" rel="stylesheet">
    <link href="../css/custom.min.css" rel="stylesheet">
    <link href="../css/services.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll navbar-edit">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll link-logo" href="#page-top">
                    <img class="no-scroll" src="../img/ongVangIcon-no-bg.png" alt=""><br>
                    <img class="yes-scroll" src="../img/ongvang-icon-scroll.png" alt=""><br>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right nav-edit">
                    <li>
                        <a href="../index.html">Trang Chủ</a>
                    </li>
                    <li>
                        <a href="../partials/services.html">Dịch Vụ</a>
                    </li>
                    <li>
                        <a href="../partials/introduction.html">Gới Thiệu</a>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>                    
                    <li>
                        <a href="#">Tuyển Dụng</a>
                    </li>
                    <li>
                        <a href="../partials/contact.html">Liên Hệ</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section class="section-top"></section>
    <section class="section-link">
         <div class="container">
            <div class="row row-link-edit">
               <a href="../index.html">Trang Chủ</a>
               <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
               <a href="../partials/introduction.html">Dịch Vụ</a>
            </div>
        </div>
    </section>
    
    <section class="section-service">
        <div class="container">            
                <div class="row col-md-12 col-sm-12">
                    <div class="col-md-4 col-sm-4 tab-left-border"> <!-- required for floating -->
                        <!-- Nav tabs -->
                        <h4 class="ul-title">
                            <span><b>Dịch Vụ</b></span>
                        </h4>
                        <ul class="nav nav-tabs tabs-left nav-tabs-edit">
                          <li class="active"><a href="#term" data-toggle="tab">Điều khoản sử dụng</a></li>
                          <li><a href="#service-price" data-toggle="tab">Bảng giá dịch vụ</a></li>
                          <li><a href="#quality-compare" data-toggle="tab">So sánh chất lượng</a></li>
                          <li><a href="#process" data-toggle="tab">Quy trình giao nhận</a></li>
                        </ul>
                        <h4 class="ul-title">
                            <span><b>Tại sao là GiaoHangOngVang.VN</b></span>
                        </h4>
                        <p class="text-muted text-justify">
                            GiaohangOngVang.vn là đơn vị cung cấp dịch vụ giao hàng chuyên nghiệp với 
                            tiêu chí "Tiết kiệm - An toàn - Đúng hẹn" với nhiều ưu điểm và tiện ích khi so sánh
                            với các đơn vị cung cấp tương tự trên thị trường.
                        </p>
                        <p class="text-muted text-justify">
                            Đặt mục tiêu trở thành đơn vị có chất lượng phục vụ tốt nhất trong lĩnh vực giao nhận
                            hàng hóa, GiaohangOngVang.vn tập trung việc đào tạo phát triển, nâng cao chất lượng
                            đội ngũ nhân viên và công nghệ xử lý nhằm hiện thực hóa mục tiêu. Mong muốn trở 
                            thành đơn vị uy tín nhất trên thị trường và trong lòng khách hàng.
                        </p>
                    </div>

                    <div class="col-md-8 col-sm-8 panel-full">
                        <!-- Tab panes -->
                        <div class="tab-content">
                          <div class="tab-pane active" id="term">
                              <h3>Điều khoản sử dụng</h3>
                              <div class="text-justify">
                                  <p>
                                      <span><b>1. Những mặt hàng không nhận gửi:</b></span><br>
                                      Thuốc phiện, hợp chất từ thuộc phiện, chất ma túy, chất kích thích thần kinh. Vũ khí, đạn dược, trang thiết bị quân sự. Các loại văn hóa phẩm đồi trụy, phản động, ấn phẩm, tài liệu nhằm phá hoại trật tự công cộng, chống lại Nhà nước XHCN Việt Nam. Vật chất hoặc chất dễ nổ, dễ cháy và các chất gây nguy hiểm hoặc làm mất vệ sinh, gây ô nhiễm môi trường. Sinh vật sống. Vật phẩm, hàng hóa mà Nhà nước cấm lưu thông, cấm kinh doanh. Tiền Việt Nam, tiền nước ngoài và các giấy tờ có giá trị như tiền, vàng bạc, đá quý… để trong bưu gửi. Bưu gửi chứa nhiều bưu gửi gửi cho nhiều người khác nhau.
                                  </p>
                                  <p>
                                      <span><b>2. Những mặt hàng nhận gửi có điều kiện</b></span><br>
                                      Hàng hóa để kinh doanh phải có chứng từ thuế và chứng từ hợp lệ theo quy định của pháp luật. Vật phẩm, hàng hóa dễ bị hư hỏng, chất lỏng, chất bột đóng gói phải đảm bảo không gây hư hỏng, ô nhiễm bưu gửi khác. Vật phẩm hàng hóa gửi trong bưu gửi GiaohangOngVang.vn vận chuyển qua đường hàng không phải tuân theo những quy định về an ninh hàng không.
                                  </p>
                                  <p>
                                      <span><b>3. Trách nhiệm của người gửi:</b></span><br>
                                      Khai báo đúng với đầy đủ tên, chủng loại, tình trạng cũ mới hỏng, giá trị hàng hóa lên mặt trước của phiếu gửi và các giấy tờ liên quan. Gói bọc đảm bảo an toàn cho hàng hóa. Thanh toán đầy đủ mọi khoản cước phí theo quy định.
                                  </p>
                                  <p>
                                      <span><b>4. Trách nhiệm của GiaohangOngVang.vn</b></span><br>
                                      Kiểm tra tính hợp pháp của bưu gửi. Trong trường hợp có dấu hiệu vi phạm pháp luật, có quyền từ chối phục vụ. Có trách nhiệm bảo đảm an toàn bưu gửi GiaohangOngVang.vn kể từ khi nhận gửi đến khi phát cho người có quyền nhận, giải quyết khiếu nại và bồi thường cho khách hàng theo quy định tại mục 5, 6.

                                  </p>
                                  <p>
                                      <span><b>5. Thời hiệu khiếu nại</b></span><br>
                                      15 ngày kể từ khi kết thúc chỉ tiêu thời gian toàn trình của bưu gửi đối với khiếu nại về việc mất bưu gửi, chuyển phát bưu gửi chậm so với thời gian toàn trình đã công bố; 07 ngày kể từ ngày bưu gửi được phát cho người nhận đối với khiếu nại về việc bưu gửi bị suy suyển, hư hỏng, về giá cước và các nội dung khác có liên quan trực tiếp đến bưu gửi.<br>
                                      <i>Lưu ý: Chỉ chấp nhận khiếu nại sau khi kết thúc chỉ tiêu thời gian toàn trình.</i>
                                  </p>
                                  <p>
                                      <span><b>6. Giới hạn trách nhiệm bồi thường</b></span><br>
                                      Giải quyết khiếu nại và bồi thường cho khách hàng theo quy định Nghiệp vụ hiện hành. GiaohangOngVang.vn không chịu trách nhiệm bồi thường đối với các thiệt hại gián tiếp do việc mất, suy suyển, hư hỏng bưu gửi và phát chậm gây ra.<br>
                                      Với hàng hóa không sử dụng dịch vụ khai giá, chúng tôi chịu trách nhiệm bồi thường lên tới 05 lần phí giao hàng. Với khách hàng sử dụng dịch vụ khai giá, bồi thường 100% giá trị đã kê khai, mức tối đa đến 20 triệu đồng.<br>
                                      Mức phí dịch vụ khai giá: 1% giá trị đơn hàng.
                                  </p>
                                  <p>
                                      <span><b>7. Quy định về khối lượng và kích thước</b></span><br>
                                      Khối lượng bưu gửi tiêu chuẩn: 5kg.<br>
                                      Kích thước bưu gửi tiêu chuẩn không quá 25cm mỗi chiều.<br>
                                      Vượt khổ, tải tính thêm phí theo quy định của dịch vụ tại thời điểm. Trường hợp bưu gửi là hàng cồng kềnh và nguyên khối không thể tách rời, đề nghị liên hệ với tổng đài: 091.666.1523 để có chỉ dẫn chi tiết.
                                  </p>
                                  <p>
                                      <span><b>8. Phát hành và xử lý bưu gửi trong trường hợp không phát được</b></span><br>
                                      Với mỗi đơn bưu kiện, GiaohangOngVang.vn sẽ liên hệ, phát 03 lần đến người nhận. Trong trường hợp chúng tôi không thể giao hàng cho người nhận sau 03 lần liên hệ, phát bưu kiện thì bưu kiện đó được gửi hoàn trả về người gửi bưu kiện. Cước phí khi hoàn trả là 100% cước giao hàng.<br>
                                      Trong trường hợp sau 15 ngày kể từ khi tiến hành chuyển hoàn bưu kiện mà người gửi không nhận hoặc không có phương án tiếp nhận bưu kiện chuyển hoàn (không quá 30 ngày) thì GiaohangOngVang.vn được sung quỹ bưu kiện đó sử dụng vào mục đích từ thiện. 
                                  </p>
                                  <p>
                                      <span><b>9. Chuyển lại tiền thu hộ</b></span><br>
                                      Tiền thu hộ sẽ được GiaohangOngVang.vn thao tác chuyển lại cho người gửi trong vòng 24 tiếng kể từ thời điểm nhận tiền thu hộ. Trường hợp tiền thu từ người nhận bao gồm cả tiền cước phí và và tiền thu hộ thì GiaohangOngVang.vn sẽ tự động trích lại tiền cước phí và chuyển tiền thu hộ cho người gửi.
                                  </p>
                                  <p class="text-center">
                                      <h5><b>Giải quyết khiếu nại qua email: giaohangongvang@gmail.com</b></h5>
                                  </p>
                              </div>
                          </div>
                          <div class="tab-pane" id="service-price">
                              <!--<h3>Bảng giá dịch vụ</h3>-->
                              <div id="priceTable" class="body">
                                <table class="table responsive-table">
                                    <thead>
                                        <tr class="price-table-header">
                                            <th class="text-left"><h3>DỊCH VỤ</h3></th>
                                            <th class="text-left"><h3>CHỈ TIÊU GIAO HÀNG</h3></th>
                                            <th class="text-left"><h3>CƯỚC PHÍ</h3></th>                                            
                                        </tr>
                                    </thead>
                                    <tbody class="text-muted price-table-body">
                                        <tr>
                                            <td class="text-left"><h4>GIAO HÀNG NHANH</h4></td>
                                            <td class="text-left price">
                                                <ul>
                                                    <li>
                                                        Nhận trước <b>09:00</b> - Giao trước <b>12:00</b> cùng ngày
                                                    </li>
                                                    <li>
                                                        Nhận trước <b>14:00</b> - Giao trước <b>18:30</b> cùng ngày
                                                    </li>
                                                    <li>
                                                        Khối lượng chuẩn: 5kg
                                                    </li>
                                                    <li>
                                                        Kích thước tiêu chuẩn: 25x25x25cm
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="text-right"><h5>25.000đ</h5></td>                                            
                                        </tr>
                                        <tr>
                                            <td class="text-left"><h4>PHỤ PHÍ</h4></td>
                                            <td class="text-left price">
                                                <ul>
                                                    <li>Đơn hàng từ 5kg-10kg</li>
                                                    <li>Đơn hàng từ 10kg-15kg</li>
                                                    <li>Đơn hàng từ 25cm-40cm</li>
                                                    <li>Đơn hàng từ 40cm-50cm</li>
                                                    <li>Phí khai giá:</li>
                                                    <li>Phí bến bãi, cước phí khác</li>
                                                </ul>
                                            </td>
                                            <td class="text-right price">
                                                <ul class="list-price">
                                                    <li>+5.000đ</li>
                                                    <li>+10.000đ</li>
                                                    <li>+5.000đ</li>
                                                    <li>+10.000đ</li>
                                                    <li>1%</li>
                                                    <li>theo thực tế</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><h4>PHẠM VI PHỤC VỤ</h4></td>
                                            <td class="text-left">
                                                <p>
                                                    Quận Cầu Giấy, Hoàn Kiếm, Thanh Xuân, Ba Đình, Tây Hồ, Hai Bà Trưng, Đống Đa.<br>
                                                    Quận Nam Từ Liêm, Bắc Từ Liêm, Long Biên, Hà Đông, Hoàng Mai.
                                                </p>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><h4>*HỢP ĐỒNG*</h4></td>
                                            <td class="text-left">
                                                <p>
                                                    Khách hàng <u>hợp đồng</u> vui lòng liên hệ <u>094.298.1990</u> (Mr.Đức) để được tư vấn, hỗ trợ.
                                                </p>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="text-center"><h5>Bảng giá trên chưa bao gồm VAT</h5></td>
                                            <td></td>
                                        </tr>                                        
                                    </tbody>                
                                </table>
                            </div>
                          </div>
                          <div class="tab-pane" id="quality-compare">
                              <h3>So sánh chất lượng</h3>
                              <div id="qualityTable" class="body">
                                <table class="table responsive-table">
                                    <thead>
                                        <tr>
                                            <th>Tiêu Chí</th>
                                            <th class="text-center">Giao hàng Ong Vàng</th>
                                            <th class="text-center">Các dịch vụ khác</th>
                                            <th class="text-center">Shipper lẻ</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-muted">
                                        <tr>
                                            <td>An toàn hàng hóa, bảo mật thông tin</td>                                            
                                            <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-exclamation" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Dịch vụ chuyên nghiệp</td>
                                            <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-exclamation" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Miễn phí chuyển tài khoản</td>
                                            <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-times" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-times" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Miễn phí thu hộ(COD)</td>
                                            <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-exclamation" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-exclamation" aria-hidden="true"></i></i></td>
                                        </tr>
                                        <tr>
                                            <td>Nghĩa vụ tài chính</td>
                                            <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-exclamation" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-exclamation" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Nhân viên thân thiện</td>
                                            <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-exclamation" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-exclamation" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Quản lý chi tiết lịch sử hàng hóa</td>
                                            <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-exclamation" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-exclamation" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Quản lý vị trí hàng hóa</td>
                                            <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-exclamation" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-times" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Tích hợp vào hệ thống bán hàng</td>
                                            <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-exclamation" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-times" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Quy trình rõ ràng</td>
                                            <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-times" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Tiết kiệm chi phí</td>
                                            <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-exclamation" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-times" aria-hidden="true"></i></td>
                                        </tr>
                                    </tbody>                
                                </table>
                            </div>
                          </div>
                          <div class="tab-pane" id="process">
                              <h3>Quy trình giao nhận</h3>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    
    
    <section class="section-plus"></section>
    <footer>
        <div class="container">
            <div class="row">
                <img src="../img/ongVangIcon.png" alt=""><br>
                <span class="copyright">Copyright &copy; GiaohangOngVang 2016</span>
                <div class="link-group">
                    <a href="../index.html" class="link-edit">Trang chủ</a><i class="fa fa-circle circle-edit" aria-hidden="true"></i>
                    <a href="../partials/services.html" class="link-edit">Dịch vụ</a><i class="fa fa-circle circle-edit" aria-hidden="true"></i>
                    <a href="../partials/introduction.html" class="link-edit">Giới thiệu</a>
                </div>
                <div lass="link-group">
                    <span>Hotline: <b>091.666.1523</b> -</span>
                    <span>Email: <a href="giaohangongvang@gmail.com"><b>giaohangongvang@gmail.com</b></a></span>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-12">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>-->
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../js/jqBootstrapValidation.js"></script>
    <script src="../js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="../js/ongvang.min.js"></script>

</body>

</html>
